<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="k8s">
        <appender name="OTLP" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">
            <captureExperimentalAttributes>true</captureExperimentalAttributes>
            <captureCodeAttributes>true</captureCodeAttributes>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <springProfile name="k8s">
            <appender-ref ref="OTLP" />
        </springProfile>
    </root>
</configuration>